@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Didact+Gothic&family=Londrina+Solid:wght@100;300&family=Raleway:wght@100;200;300;400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
}

ul{
    list-style: none;
}

.container{
    display: grid;
    grid-template-rows: 100px 150px auto;
    width: 400px;
    height:max-content;
    background-color: #0dabc6;
    margin: 30px;
    border-radius: 10px;
    font-family: 'Concert One', cursive;
}

.container__title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container__title--h1{
    font-size: 2rem;
}

.container__question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container__question--input{
    width: 300px;
    height: 35px;
    padding: 10px 10px;
    border-style: none;
    background-color:rgb(199, 216, 231);
    color:rgb(82, 116, 116);
    border-radius: 5px; 
    font-size: 1.5rem;
    font-family: 'Concert One', cursive;
}

.container__question--input:focus{
    outline: none;
}

.container__question--button{
    width: 100px;
    height: 35px;
    background-color: rgb(247, 235, 122);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Concert One', cursive;

}

.container__response{
    display: none;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: center;
    padding: 20px;
    gap: 20px;
}



ul{
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
}

.container__response .location{
    width: 150px;
    height: 220px;
    background-color: azure;
    border-radius: 15px;
    padding: 10px;
}

img{
    width: 80px;
}

.city{
    font-size: 1rem;  
    color:darkslategrey;
}

.temperature{
    font-size: 2rem;
    color: darkred; 
}

.description{
    font-size: 1rem;
    color:darkslategrey; 
}

@media (max-width: 460px) {
    .container{
        width: 300px;
    }
    .container__title--h1{
        width: 200px;
        text-align: center;
    }
    .container__question--input{
        width: 250px;
        height: 50px;
        font-size: 1.2rem;
    }
    .container__question--button{
        width: 80px;
        height: 30px;
        font-size: 1rem;
    }
    .container__response .location{
        height: 180px;
    }
    ul{
        height: 150px; 
    }
    img{
        width: 80px;
    }
        
}

@media (min-width: 800px) {
    .container{
        width: 600px;
    }
    .container__title--h1{
        font-size: 2.5rem;
    }
    .container__response .location{
        height: 250px;
    }
    ul{
        height: 240px; 
    }
    img{
        width: 100px;
    }
       
    
}

@media (min-width: 1500px) {
    .container{
        width: 800px;
    }
    .container__title--h1{
        font-size: 3rem;
    }
    .description{
        font-size: 1.2rem;
    }
    img{
        width: 120px;
    }
    .city{
        font-size: 1.2rem;
    }
    
}